@import url("reset.css");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#lock-status {
  font-size: 22px;
  color: white;
}

.glow-on-hover {
  padding: 0.6rem 1.6rem;
  width: 25%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 22px;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 1px solid white;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 801px) {
  .glow-on-hover {
    text-wrap: nowrap;
    width: 30%;
  }
}

@media (max-width: 660px) {
  .glow-on-hover {
    text-wrap: nowrap;
    width: 37%;
  }
}

@media (max-width: 535px) {
  .glow-on-hover {
    text-wrap: nowrap;
    width: 50%;
  }
}

@media (max-width: 390px) {
  .glow-on-hover {
    text-wrap: nowrap;
    width: 60%;
  }
}

@media (max-width: 316px) {
  .glow-on-hover {
    text-wrap: nowrap;
    width: 70%;
  }
}
